$fonte-principal: 'Poppins', sans-serif;
$fonte-secundaria: 'Londrina Solid', cursive;
$--grass: #1fc435;
$--poison: #6b137c;
$--fire: #e42a2a;
$--flying: #1ba7df;
$--water: #191375;
$--bug: #237523;
$--normal: #085d48;
$--electric: #cedf34;
$--ground: #b95e29;
$--fairy: #bf58cf;
$--fighting: #363f06;
$--psychic: #000000;
$--rock: #462b20;
$--steel: #867a88;
$--ice: #777edf;
$--ghost: #43114b;
$--dragon: #e7671e;

@mixin centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tema($cor) {
  background-color: $cor;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $fonte-principal;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0;

  &__list {
    width: 90%;
    margin: 6rem 0;
    @include centralizar;
    flex-wrap: wrap;

    &__searchbox {
      background-color: #b12c2c;
      width: 100vw;
      position: fixed;
      align-items: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      z-index: 1;

      &__container {
        width: 80%;
        height: 5rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
      
        img {
          width: 10rem;
        }

        input {
          font-size: 1.5em;
          padding: 0.5rem;
          border-radius: 0.5rem;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }

        button {
          background-color: #ebdb50;
          padding: 0.5rem 1rem;
          font-size: 1.5em;
          border-radius: 0.5rem;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          cursor: pointer;
          
          a {
            text-decoration: none;
            color: #000000;
          }
        }
      }
    }

    &__card {
      width: 12rem;
      height: 18rem;
      padding: 1rem;
      margin: 1rem;
      border-radius: 0.5rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      transition: 0.5s;

      &__id {
        font-weight: 100;
        letter-spacing: 0.1em;
        color: #867a88;
      }

      &__link {
        text-decoration: none;
        color: #000000;
      }

      &__img {
        width: 100%;
      }

      &__category {
        padding: 0.5rem 0;

        a {
          text-decoration: none;
        }

        &__button {
          color: #ffffff;
          border-radius: 0.4rem;
          padding: 0.2rem 0.4rem;
          margin: 0 0.4rem 0 0;
  
          &--grass {
            @include tema($--grass)
          }
  
          &--poison {
            @include tema($--poison)
          }
  
          &--fire {
            @include tema($--fire)
          }
  
          &--flying {
            @include tema($--flying)
          }
  
          &--water {
            @include tema($--water)
          }
  
          &--bug {
            @include tema($--bug)
          }
  
          &--normal {
            @include tema($--normal)
          }
  
          &--electric {
            @include tema($--electric)
          }
  
          &--ground {
            @include tema($--ground)
          }
  
          &--fairy {
            @include tema($--fairy)
          }
  
          &--fighting {
            @include tema($--fighting)
          }
  
          &--psychic {
            @include tema($--psychic)
          }
  
          &--rock {
            @include tema($--rock)
          }
  
          &--steel {
            @include tema($--steel)
          }
  
          &--ice {
            @include tema($--ice)
          }
  
          &--ghost {
            @include tema($--ghost)
          }
  
          &--dragon {
            @include tema($--dragon)
          }
        } 
      }
    }

    &__card:hover {
      opacity: 0.9;
      margin-top: -0.1rem;
    }
  }

  .container {
    width: 60%;
    height: 90%;
  }

  .info {
    @include centralizar;
    flex-direction: column;
    
    &__header {
      font-size: 1.8em;
    }

    &__body {

      img {
        width: 15rem;
        display: block;
        margin: 0 auto;
      }

      &__characteristics {
        padding: 1rem 0;
      }

      &__abilities {
        padding: 1rem 0;
      }

      &__status {
        padding: 1rem 0;
      }

      &__moves {
        padding: 1rem 0;
        text-align: justify;
      }

      &__type {
        padding: 1rem 0;

        p {
          padding: 0 0 0.4rem 0;
        }

        &__button {
          color: #ffffff;
          border-radius: 0.4rem;
          padding: 0.2rem 0.4rem;
          margin: 0 0.4rem 0 0;
  
          &--grass {
            @include tema($--grass)
          }
  
          &--poison {
            @include tema($--poison)
          }
  
          &--fire {
            @include tema($--fire)
          }
  
          &--flying {
            @include tema($--flying)
          }
  
          &--water {
            @include tema($--water)
          }
  
          &--bug {
            @include tema($--bug)
          }
  
          &--normal {
            @include tema($--normal)
          }
  
          &--electric {
            @include tema($--electric)
          }
  
          &--ground {
            @include tema($--ground)
          }
  
          &--fairy {
            @include tema($--fairy)
          }
  
          &--fighting {
            @include tema($--fighting)
          }
  
          &--psychic {
            @include tema($--psychic)
          }
  
          &--rock {
            @include tema($--rock)
          }
  
          &--steel {
            @include tema($--steel)
          }
  
          &--ice {
            @include tema($--ice)
          }
  
          &--ghost {
            @include tema($--ghost)
          }
  
          &--dragon {
            @include tema($--dragon)
          }
        } 
      }
    }

    &__footer {
      padding: 1rem 0;

      &__link {
        background-color: #211988;
        padding: 0.2rem 1rem;
        border-radius: 0.4rem;
        color: #ffffff;
        font-size: 1.4em;
        text-decoration: none;
      }

      &__link:hover {
        background-color: #362adf;
      }
    }
  }

  &__about {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: rgb(18, 189, 219);
    
    

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
      
    }

   

    &__img {
      width: 15rem;
      border-radius: 50%;
    }

    & h3{
      color:rgb(18, 189, 219);
      padding: 2rem;

    }

    & p{
      margin-left: 8rem;
      margin-right: 8rem;
    }

    &__proj{
     
      
      &__cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        padding: 2rem;
  
        &__card{
          width: 13rem;
          height: 17rem;
          
          border-radius: 0.5rem;
          margin-left: 2rem;
          margin-top: 2rem;
          
          
          &__foto{
            width:11rem;
            height: 12rem;
            margin: 1rem;
            

            & img{
              width: 11rem;
              height: 12rem;
              border-radius: 0.5rem;
              
            }
            
            

          }

          &__btn{
            width: 10rem;
            text-decoration: none;
            color:rgb(18, 189, 219);
            border: 1px solid rgb(18, 189, 219);
            margin-top: 2rem;
            padding: 0.5rem;
            border-radius: 0.3rem;
            margin: 1rem;
  
          }
  
          &__btn:hover{
            background-color: rgb(18, 189, 219);
            color: black;
          }
        }

        &__card:hover{
          
          border: 2px solid rgb(18, 189, 219);
    
        }
       
      }
    }

    
    &__link {
      margin: 0 auto;
      display: block;
      text-decoration: none;
      background-color:white;
      color:rgb(18, 189, 219);
      border: solid 0.7px rgb(18, 189, 219);
      text-align: center;
      border-radius: 0.5rem;
      width: 6rem;
      font-size: 1.4em;
      transition: 100ms;
    }

    &__link:hover {
      background-color: rgb(18, 189, 219);
      color: black;
    }

    & footer{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 5rem;
      border-top: 0.5px solid rgba(0, 0, 0, 0.3);
      margin: 2rem;
      
      & a {
        text-decoration: none;
        padding: 2rem;
      }

      & a:hover{
        background: linear-gradient(rgba(20, 223, 250, 0.5), rgba(6, 248, 236, 0.5), rgb(0, 0, 0,.50)100%);
        border-radius: 50%;
        
      }
    }
  }
}
